<div id = "new-blog">
  <form action="/blogs" method="post">
    Url: <input type="text" name="url">
    Tags: <input type="text" name="tags">
    <input type="submit" value="Add blog">
  </form>
</div>

