<h1>Welcome to Blogbook</h1>

  <% if current_user %>
    <div id="new-blog">
      <form action="/blogs" method="post">
        Url: <input type="text" name="url">
        Tags: <input type="text" name="tags">
        <input type="submit" value="Add blog">
      </form>
    </div>
  <% end %>

  <hr>
  <br>
  Latest Blog Updates:
  <br><br>
  <ul>
  <% @blogs.each do |blog| %>
    <li><a href="<%= blog.good_url %>" class="<%= blog.clean_url %>"><%= blog.clean_url %></a></li>
  <% end %>
    </li>

  </ul>